/* padding: 10px 20px;
background-color:#333334 ;
 border-radius: 11px;
 color: #0b0b0b;
 font-size: 14px;
text-align: center;
 color: #f3f3f1;
 border: 1px solid #6c6c6c; */

 .action-button{
    padding: 10px 20px;
background-color:#333334 ;
 border-radius: 11px;
 color: #0b0b0b;
 font-size: 12px;
text-align: center;
 color: #f3f3f1;
 border: 1px solid #6c6c6c;
 }
 