.underline-line {
    transform: scaleX(0); /* Initially hide the underline */
    transition: transform 0.5s ease-out; /* Smooth transition for the underline */
  }
  
  button:hover .underline-line {
    transform: scaleX(1); /* Show the underline from left to right on hover */
  }
  
  button {
    transition: transform 0.3s ease-out; /* Smooth scaling of button */
  }
  
  button:hover {
    transform: scale(0.9); /* Button scales down on hover */
  }
  
  @media screen and (max-width: 820px) {
    .header{
      padding-left: 25px;
      padding-right: 25px;
    }
    .right{
      display: none;
    }
  }

  @media screen and (max-width: 460px) {
  
    .header{
      display: none;
    }
    
  }
  @media screen and (min-width: 461px) {
  
    .mobile{
      display: none;
    }
    
  }


  @keyframes topToBottom {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .glow2 {
    opacity: 0; /* Initially hidden */
    animation: topToBottom 1s ease-in-out forwards;
  }
  /* .top-to-bottom.delay-0 {
    animation-delay: 0.7s;
  } */
  .top-to-bottom .delay-10 {
    animation-delay: 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0; /* Fully invisible */
    }
    100% {
      opacity: 1; /* Fully visible */
    }
  }
  
  /* Initial state of the div */
  .fade-in-delay {
    opacity: 0; /* Start invisible */
    animation: fadeIn 1s ease-in 2s forwards; /* Start animation after 2 seconds */
  }