


.btn-1 {
    position: relative;
    padding: 5px 25px;
    background-color: #333334;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 12px; /* Slow down the transform effect */
}

.btn-1 p {
    margin: 0;
    z-index: 1;
    position: relative;
}

.btn-1::before {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    background: linear-gradient(45deg, #8c8c8c, #545653) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: rotate 4s linear infinite;
    transition: background 0.3s ease-in-out; /* Slow down the background change */
}

.btn-1:hover {
    transform: scale(0.95); /* Smooth scale effect */
}

.btn-1:hover::before {
    background: linear-gradient(45deg, #ffda44, #ffda45) border-box;
    transition: background 0.5s ease-out; /* Slow down the hover background animation */
}


.btn-2 {
    position: relative;
    background-color: #333334;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    font-size: 12px;
    padding: 14px 20px 14px 6px;
    transition: transform 0.3s ease-in-out; /* Slow down the transform effect */
}

.btn-2 p {
    margin: 0;
    z-index: 1;
    position: relative;
    border-radius: 7px;
    color: #0b0b0b;
    font-size: 16px;
}

.btn-2::before {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    background: linear-gradient(45deg, #8c8c8c, #545653) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: rotate 4s linear infinite;
    transition: background 0.3s ease-in-out; /* Slow down the background change */
}

.btn-2:hover {
    transform: scale(0.95); /* Smooth scale effect */
}

.btn-2:hover::before {
    background: linear-gradient(45deg, #ffda44, #ffda45) border-box;
    transition: background 0.5s ease-out; /* Slow down the hover background animation */
}

.glow {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 1px #ffda46) 
            drop-shadow(0 0 1px #ffda46)
            drop-shadow(0 0 28px #ffda46)
            drop-shadow(0 0 80px #ffda46);
  }
  
  .glow img {
    width: 100%;
    height: 100%;
    border: none;
  }
  .btn-3 {
    
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 40px;
   
    transition: transform 0.3s ease-in-out;
     /* Slow down the transform effect */
}

.btn-3 button {
  
  padding: 8px 40px;
   background-color:#333334 ;
    border-radius: 11px;
    color: #0b0b0b;
    font-size: 14px;
   
    color: #f3f3f1;
    border: 1px solid #6c6c6c;
    transition: transform 0.3s ease-in-out;
    
}




.btn-3 button:hover {
  transform: scale(0.90); /* Smooth scale effect */
  border: 1px solid #ffda44;
  transition: all 0.3s ease-in-out; /* Applies transition to all properties */
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Common glow styles */



.glow1 {
  opacity: 0; 
  animation: topToBottom 1s ease-in-out forwards;
}



.top-to-bottom .delay-0 {
  animation-delay: 0.1s;
}
.top-to-bottom .delay-1 {
  animation-delay: 0.4s;
}
.top-to-bottom .delay-2 {
  animation-delay: 0.5s;
}
.top-to-bottom .delay-3 {
  animation-delay: 0.6s;
}
.top-to-bottom .delay-4 {
  animation-delay: 0.7s;
}
.top-to-bottom .delay-5 {
  animation-delay: 0.8s;
}
.top-to-bottom .delay-6 {
  animation-delay: 0.9s;
}
.top-to-bottom .delay-7 {
  animation-delay: 1s;
}





/* Main image scaling */
.images {
  max-width: 100%;
  height: auto;
}

/* 

/* Add to hero.css */
@keyframes upDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Move down */
    }
  }
  
  .animate-up-down {
    animation: upDown 2s ease-in-out infinite;
  }
  .delay-0 {
    animation-delay: 0s;
  }
  
  .delay-1 {
    animation-delay: 500ms;
  }
  
  .delay-2 {
    animation-delay: 1s;
  }
  
  .delay-3 {
    animation-delay: 1.5ms;
  }
  
  .delay-4 {
    animation-delay: 2s;
  }
  
  .animate-start {
    animation: upDown 2s ease-in-out infinite;
  }

  

  @media screen and (width: 1024px) and (height: 1366px) {
    /* Styles for devices with 1024px width and 1366px height */
    /* body {
    
      font-size: 18px;
    } */
    .hero{
      flex-direction: column-reverse;
       width: 70%;
       margin: auto;

    }
    .hero .text{
      text-align: center;
    }
    .hero .buttons{
      justify-content: center;
    }
    .btn-3 {
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap onto the next row */
      gap: 20px;       /* Space between items (optional) */
    }
    
    .btn-3 .item {
      flex: 1 1 calc(50% - 10px); /* Each item takes 50% width, minus gap */
      box-sizing: border-box;    /* Include padding/border in width */
      text-align: center;
    }
    
    .btn-3 .item button {
      width: 80%; /* Button takes full width of its parent */
      padding: 10px;
      border-radius: 10px;

     
    }

  }
  @media screen and (max-width: 820px) {
    .hero{
      
      flex-direction: column-reverse;
       width: 70%;
       margin: auto;
       padding-top: 100px;
       gap: 10px;

    }
    .hero .text{
      text-align: center;
    }
    .hero .buttons{
      justify-content: center;
    }
    .btn-3 {
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap onto the next row */
      gap: 20px;       /* Space between items (optional) */
    }
    
    .btn-3 .item {
      flex: 1 1 calc(50% - 10px); /* Each item takes 50% width, minus gap */
      box-sizing: border-box;    /* Include padding/border in width */
      text-align: center;
    }
    
    .btn-3 .item button {
      width: 80%; /* Button takes full width of its parent */
      padding: 10px;
      border-radius: 10px;

     
    }
  }


  @media screen and (max-width: 768px) {
    .hero{
      
      flex-direction: column-reverse;
       width: 80%;
       height: 700px;
     
       margin: auto;
       padding-top: 0px;
      
       gap: 10px;
       
          }
    .hero .image{
       width: 80%;
  
      
       margin: auto;
       position: relative;

    }
    .hero .image .m1{
  
     width: 20px;
     height: 20px;

   }
   .hero .image .m1{
    top:20%;
    width: 20px;
    height: 20px;

  }
  .hero .image .m2{
   left: 5%;
    width: 20px;
    height: 20px;
    

  }
  .hero .image .m3{
    bottom: 17%;
     width: 20px;
     height: 20px;
 
   }
   .hero .image .m4{

     width: 20px;
     
     height: 20px;
 
   }
   .hero .image .m5{
   
    top: 40%;
     width: 20px;
     height: 20px;
 
   }
   .hero .image .m6{
   
   top: 60%;
     width: 20px;
     height: 20px;
 
   }   .hero .image .m7{
 
     width: 20px;
     height: 20px;
     top: 35%;
 
   }
  

   

   .btn-3{
         margin-top: 30px;
   }


    .hero .image .images{
      
       position: absolute;
       width: 400px;
       top: 125px;
    }
    .hero .text{
      text-align: center;
      width: 100%;
    }
    .hero .buttons{
      justify-content: center;
    }
    .btn-3 {
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap onto the next row */
      gap: 20px;       /* Space between items (optional) */
    }
    
    .btn-3 .item {
      flex: 1 1 calc(50% - 10px); /* Each item takes 50% width, minus gap */
      box-sizing: border-box;    /* Include padding/border in width */
      text-align: center;
    }
    
    .btn-3 .item button {
      width: 80%; /* Button takes full width of its parent */
      padding: 10px;
      border-radius: 10px;

     
    }
  }

  @media screen and (max-width: 460px) {
     
    .hero{
      
      flex-direction: column-reverse;
       width: 100%;
      height: auto;
       
       margin: auto;
       padding-top: 0px;
      
       gap: 10px;
       
          }
    .hero .image{
       width: 90%;
     min-height: 340px;
  
       margin: auto;
       position: relative;

    }
    .hero{
      gap: 0px;
    }
    .hero .text .p{
      font-size: 40px;
    }
    .hero .text .s{
      text-align: center;
      font-size: 13px;
      line-height: 25px;
    }
  
    .hero .buttons{
      justify-content: center;
    }
   .hero .image .m1{
    top:9%;
    left: 55%;
    width: 20px;
    height: 20px;

  }
  .hero .image .m2{
   left: 7%;
   bottom: 29%;
    width: 20px;
    height: 20px;
   

  }
  .hero .image .m3{
    bottom: 26%;
     width: 20px;
     height: 20px;
   
 
   }
   .hero .image .m4{
   
     width: 20px;
      bottom: 13%;
      left: 40%;
     height: 20px;
 
   }
   .hero .image .m5{
   
    top: 27%;
     width: 20px;
     height: 20px;
 
   }
   .hero .image .m6{
  
   top: 48%;
   right: -4%;
     width: 20px;
     height: 20px;
 
   }   .hero .image .m7{
   
     width: 20px;
     height: 20px;
     top: 27%;
     
   }
  
   .btn-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allow items to wrap onto the next row */
    gap: 30px;   
    margin-top: 30px;  
    width: 100%;
   
  }
  
  .btn-3 .items {
    width: 100%;
   margin-bottom: 10px;
   
    box-sizing: border-box;   
    text-align: center;
  }

  
  .btn-3 .items button {
    width: 100%; /* Button takes full width of its parent */
    padding: 10px;
    border-radius: 10px;

   
  }
   




    .hero .image .images{
     position: static;
 
     width: 300px;
     padding-left: 0px;
      
    }
    .hero .text{
      text-align: center;
      width: 100%;
      
    }
    .hero .buttons{
      justify-content: center;
    }
    .btn-3 {
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap onto the next row */
      gap: 20px;       /* Space between items (optional) */
    }
    
    .btn-3 .item {
      flex: 1 1 calc(50% - 10px); /* Each item takes 50% width, minus gap */
      box-sizing: border-box;    /* Include padding/border in width */
      text-align: center;
    }
    
    .btn-3 .item button {
      width: 80%; /* Button takes full width of its parent */
      padding: 10px;
      border-radius: 10px;

     
    }

  }
  @keyframes fade-up-right {
    0% {
      opacity: 0;
      transform: translate3d(-20px, 20px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .items {
    opacity: 0; /* Ensures animations are visible */
    animation-fill-mode: forwards; /* Keeps final animation state */
  }
  
  .animate-fade-up-right {
    animation: fade-up-right 0.7s ease-out;
    animation-fill-mode: forwards; /* Ensures the animation doesn't reset */
  }
  
  .delay-500 {
    animation-delay: 0.9s;
  }
  
  .delay-400 {
    animation-delay: 0.8s;
  }
  
  .delay-300 {
    animation-delay: 0.7s;
  }
  
  .delay-200 {
    animation-delay: 0.6s;
  }
  